# Python Virtual Environment
venv/
.venv/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
